<script
  type="text/javascript"
  src="https://code.jquery.com/jquery-3.5.1.js"
></script>
<header>
  <nav>
    <div id="logo"><a [routerLink]="['/']">Insuract</a></div>
    <ul fxHide.lt-sm>
      <li><a [routerLink]="['/']">Home</a></li>
      <li>
        <a [routerLink]="['/insurance']" routerLinkActive="active">Insurance</a>
      </li>
      <li>
        <button
          mat-mini-fab
          color="primary"
          class="responsive__button"
          [routerLink]="['/login']"
          *ngIf="isUser == ''"
        >
          <mat-icon>account_circle</mat-icon>
        </button>
      </li>
      <li *ngIf="isUser">
        <a [routerLink]="['/profile']" routerLinkActive="active">{{
          isUser.username
        }}</a>
      </li>
    </ul>
    <!-- if users >> change router link to profileComponent -->
    <button
      mat-mini-fab
      color="primary"
      class="responsive__button"
      [routerLink]="['/login']"
      fxHide.gt-xs
      *ngIf="isUser == ''"
    >
      <mat-icon>account_circle</mat-icon>
    </button>
    <!-- //////////////////////////////////////////////////// -->
    <button
      mat-mini-fab
      color="primary"
      class="responsive__button"
      [matMenuTriggerFor]="menu"
      fxHide.gt-xs
    >
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/profile']" *ngIf="isUser">
        <mat-icon>account_circle</mat-icon>
        <span>welcome {{ isUser.username }}</span>
      </button>
      <button mat-menu-item [routerLink]="['/insurance']">
        <mat-icon>book</mat-icon>
        <span>Insurance</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Signout</span>
      </button>
    </mat-menu>
  </nav>
</header>
