<script
  type="text/javascript"
  src="https://code.jquery.com/jquery-3.5.1.js"
></script>
<header>
  <nav>
    <div id="logo"><a [routerLink]="['/']">Insuract</a></div>
    <ul fxHide.lt-sm>
      <li><a [routerLink]="['/']" routerLinkActive="active">Home</a></li>
      <li>
        <a [routerLink]="['/insurance']" routerLinkActive="active">Insurance</a>
      </li>
      <li>
        <button
          mat-flat-button
          color="primary"
          [routerLink]="['/login']"
          *ngIf="isUser == null"
        >
          Get Started
        </button>
      </li>
      <li *ngIf="isUser">
        <a [routerLink]="['/profile']">welcome {{ isUser.username }}</a>
        <button mat-mini-fab (click)="logout()">
          <mat-icon>logout</mat-icon>
        </button>
      </li>
    </ul>
    <button
      mat-mini-fab
      color="primary"
      class="responsive__button"
      [routerLink]="['/login']"
      fxHide.gt-xs
      *ngIf="isUser == null"
    >
      <mat-icon>account_circle</mat-icon>
    </button>
    <!-- //////////////////////////////////////////////////// -->
    <button
      mat-mini-fab
      color="primary"
      class="responsive__button"
      [matMenuTriggerFor]="menu"
      fxHide.gt-xs
    >
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/profile']" *ngIf="isUser">
        <mat-icon>account_circle</mat-icon>
        <span>welcome {{ isUser.username }}</span>
      </button>
      <button mat-menu-item [routerLink]="['/insurance']">
        <mat-icon>book</mat-icon>
        <span>Insurance</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Signout</span>
      </button>
    </mat-menu>
  </nav>

  <section id="jumbotron">
    <div id="jumbotron__popup">
      <div id="popup__left">
        <h1>Try it now!</h1>
        <p>try out our minified insurace browsing website.</p>
        <p>
          we have wide range of product to choose from. type of insurance, cheap
          or expensive budget, coverages, and many more!
        </p>

        <div id="minified__filter">
          <h2>
            Im looking for {{ insurance }}
            <span *ngIf="this.insurance">insurance.</span>
          </h2>
          <div
            fxLayout="row wrap"
            fxLayoutAlign="start center"
            fxLayoutGap="5px"
          >
            <button
              mat-flat-button
              id="health"
              color="primary"
              (click)="selectCategory('Health')"
            >
              Health insurance
            </button>
            <button
              mat-flat-button
              id="retirement"
              color="accent"
              (click)="selectCategory('Retirement')"
            >
              Retirement insurance
            </button>
          </div>

          <h2>I'd be happy to pay {{ priceCurrency }} bath per month</h2>
          <mat-slider
            thumbLabel
            [displayWith]="formatLabel"
            color="primary"
            tickInterval="5"
            min="1"
            max="5000"
            [(ngModel)]="price"
            (change)="updateResult()"
          ></mat-slider>
        </div>

        <p style="margin-top: 25px">Want to use more option?</p>
        <button
          mat-raised-button
          color="primary"
          id="toInsuract"
          [routerLink]="['/insurance']"
        >
          Use full version of insuract now.
        </button>
      </div>
      <div id="popup__right">
        <div id="pop">Your recommended product is..</div>
        <div id="result">
          <div
            class="showcase__product"
            *ngIf="displayInsurance; else allianzShowcase"
          >
            <div id="img__title">
              <img
                src="../../assets/allianz.png"
                *ngIf="displayInsurance[0].company == 'Allianz'"
              />
            </div>
            <mat-divider> </mat-divider>

            <h1 id="title">{{ displayInsurance[0].productName }}</h1>

            <button
              mat-flat-button
              color="primary"
              class="banner"
              *ngIf="displayInsurance[0].productType == 'Health'"
            >
              Health Insurance
            </button>
            <button
              mat-flat-button
              color="accent"
              class="banner"
              *ngIf="displayInsurance[0].productType == 'Retirement'"
            >
              Retirement Insurance
            </button>

            <mat-divider> </mat-divider>

            <table *ngIf="displayInsurance[0].productType == 'Health'">
              <tr>
                <th>IPD</th>
                <td>{{ displayInsurance[0].ipd }}</td>
              </tr>
              <tr>
                <th>OPD</th>
                <td>{{ displayInsurance[0].opd }}</td>
              </tr>
              <tr>
                <th>Death coverage</th>
                <td>{{ displayInsurance[0].death }}</td>
              </tr>
              <tr>
                <th>Room coverage</th>
                <td>{{ displayInsurance[0].room }}</td>
              </tr>
            </table>

            <table *ngIf="displayInsurance[0].productType == 'Retirement'">
              <tr>
                <th>Retirement onetime payment</th>
                <td>{{ displayInsurance[0].retirementOneTime }}</td>
              </tr>
              <tr>
                <th>Retirement monthly payment</th>
                <td>{{ displayInsurance[0].retirementMonthly }}</td>
              </tr>
            </table>

            <mat-divider> </mat-divider>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed
              consectetur hic perspiciatis, mollitia omnis labore expedita non
              officiis provident quae libero corrupti temporibus harum eaque
              sint cumque. Id, dolore blanditiis! Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Ipsam, assumenda alias iusto
              reprehenderit tempora quae necessitatibus dicta vitae autem
              voluptatibus fugiat dolorum consequuntur ipsum eligendi eveniet,
              magni corrupti modi sed?
            </p>

            <button
              mat-raised-button
              color="warn"
              routerLink="/insurance/{{ displayInsurance[0].id }}"
            >
              See more detail
            </button>
          </div>

          <ng-template #allianzShowcase class="showcase__product">
            <div id="img__title">
              <img src="../../assets/allianz.png" alt="" />
            </div>
            <mat-divider> </mat-divider>
            <h1 id="title">King Treatment</h1>
            <button mat-flat-button color="primary" class="banner">
              Health Insurance
            </button>
            <mat-divider> </mat-divider>
            <p>
              King Treatment is the pride and joy of our company and is the
              description of Premium Care carefully constructed through massive
              trials and surveys to become the answer of all your needs. The
              biggest highlights of this product are carefully considered by our
              research analysts. This product provides high coverage through
              consideration of all possible emergencies with a high range of
              coverage allowance despite you are an inpatient or an outpatient.
              We have been given green lights from our executives to provide
              maximum benefits to our beloved customers as it is our company's
              mission to care for you in every way possible. King Treatment is
              all the answers in an insurance policy that you are looking for.
            </p>
            <button
              mat-raised-button
              color="warn"
              routerLink="../insurance/240560"
            >
              See more detail
            </button>
          </ng-template>
        </div>
      </div>
    </div>
  </section>
</header>
<div class="body">
  <app-carousel></app-carousel>
  <div class="about">
    <h1>About us</h1>
    <p>
      Welcome to Insuract, the application that will reduce the time and energy
      wasted by manually buying insurance policies; the main problem of
      insurance policy. The solution is the inspiration of treating insurance
      policies like any other products sold in online stores. If we are able to
      take the middle man who needs to do the paperwork for the customers, then
      the process of buying insurance for anyone will be faster and simpler.
    </p>
  </div>
  <div class="about">
    <h1>Who we are</h1>
    <p>
      We are Insuract! We are the upcoming future of Insurance Automation. Our
      target is to lead our customers towards the future along with the company.
      With that in mind, we only care about serving our customer’s best
      interests and grow alongside one another as we build a strong foundation
      of a combination between Computer Engineering and Automation Engineering.
      Our main goal in the end is to create quick and easy to use products that
      help customers achieve hard tasks easily at t he push of their fingertips.
    </p>
  </div>
  <div class="about">
    <h1>Why choose Insuract</h1>
    <p>
      We are Insuract! We are the upcoming future of Insurance Automation. Our
      target is to lead our customers towards the future along with the company.
      With that in mind, we only care about serving our customer’s best
      interests and grow alongside one another as we build a strong foundation
      of a combination between Computer Engineering and Automation Engineering.
      Our main goal in the end is to create quick and easy to use products that
      help customers achieve hard tasks easily at the push of their fingertips.
    </p>
  </div>
  <div id="divide"></div>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>
