<script
  type="text/javascript"
  src="https://code.jquery.com/jquery-3.5.1.js"
></script>
<header>
  <nav>
    <div id="logo"><a [routerLink]="['/']">Insuract</a></div>
    <ul fxHide.lt-sm>
      <li><a [routerLink]="['/']" routerLinkActive="active">Home</a></li>
      <li>
        <a [routerLink]="['/insurance']" routerLinkActive="active">Insurance</a>
      </li>
      <li>
        <button mat-flat-button color="primary" [routerLink]="['/login']">
          Get Started
        </button>
      </li>
    </ul>
    <!-- if users >> change router link to profileComponent -->
    <button
      mat-mini-fab
      color="primary"
      class="responsive__button"
      [routerLink]="['/login']"
      fxHide.gt-xs
    >
      <mat-icon>account_circle</mat-icon>
    </button>
    <!-- //////////////////////////////////////////////////// -->
    <button
      mat-mini-fab
      color="primary"
      class="responsive__button"
      [matMenuTriggerFor]="menu"
      fxHide.gt-xs
    >
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>home</mat-icon>
        <span>Homepage</span>
      </button>
      <button mat-menu-item>
        <mat-icon>book</mat-icon>
        <span>Insurance</span>
      </button>
      <button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>About-us</span>
      </button>
    </mat-menu>
  </nav>

  <section id="jumbotron">
    <div id="jumbotron__popup">
      <div id="popup__left">
        <h1>Try it now!</h1>
        <p>try out our minified insurace browsing website.</p>
        <p>
          we have wide range of product to choose from. type of insurance, cheap
          or expensive budget, coverages, and many more!
        </p>

        <div id="minified__filter">
          <h2>
            Im looking for {{ insurance }}
            <span *ngIf="this.insurance">insurance.</span>
          </h2>
          <div
            fxLayout="row wrap"
            fxLayoutAlign="start center"
            fxLayoutGap="5px"
          >
            <button
              mat-flat-button
              id="health"
              color="primary"
              (click)="selectCategory('Health')"
            >
              Health insurance
            </button>
            <button
              mat-flat-button
              id="retirement"
              color="accent"
              (click)="selectCategory('Retirement')"
            >
              Retirement insurance
            </button>
          </div>

          <h2>I'd be happy to pay {{ price }} per month</h2>
          <mat-slider
            thumbLabel
            [displayWith]="formatLabel"
            color="primary"
            tickInterval="5"
            min="1"
            max="20000"
            [(ngModel)]="price"
            onchange="updateResult()"
          ></mat-slider>
        </div>

        <p style="margin-top: 25px">Want to use more option?</p>
        <button
          mat-raised-button
          color="primary"
          id="toInsuract"
          [routerLink]="['/insurance']"
        >
          Use full version of insuract now.
        </button>
      </div>
      <div id="popup__right">right</div>
    </div>
  </section>
</header>
<body>
  <app-carousel></app-carousel>
  <div class="about">
    <h1>About us</h1>
    <p>
      Welcome to Insuract, the application that will reduce the time and energy
      wasted by manually buying insurance policies; the main problem of
      insurance policy. The solution is the inspiration of treating insurance
      policies like any other products sold in online stores. If we are able to
      take the middle man who needs to do the paperwork for the customers, then
      the process of buying insurance for anyone will be faster and simpler.
    </p>
  </div>
  <div class="about">
    <h1>Who we are</h1>
    <p>
      We are Insuract! We are the upcoming future of Insurance Automation. Our
      target is to lead our customers towards the future along with the company.
      With that in mind, we only care about serving our customer’s best
      interests and grow alongside one another as we build a strong foundation
      of a combination between Computer Engineering and Automation Engineering.
      Our main goal in the end is to create quick and easy to use products that
      help customers achieve hard tasks easily at the push of their fingertips.
    </p>
  </div>
  <div class="about">
    <h1>Why choose Insuract</h1>
    <p>
      We are Insuract! We are the upcoming future of Insurance Automation. Our
      target is to lead our customers towards the future along with the company.
      With that in mind, we only care about serving our customer’s best
      interests and grow alongside one another as we build a strong foundation
      of a combination between Computer Engineering and Automation Engineering.
      Our main goal in the end is to create quick and easy to use products that
      help customers achieve hard tasks easily at the push of their fingertips.
    </p>
  </div>
  <div id="divide"></div>
</body>
<footer>
  <app-footer></app-footer>
</footer>
