@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");

header {
  background-color: #080808;
  box-sizing: border-box;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 0px 300px;
  box-sizing: border-box;
  transition: 0.5s;
  z-index: 100;

  #logo > a {
    float: left;
    line-height: 60px;
    transition: 0.5s;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: #ffffff;
    font-weight: 900;
    font-size: 1.5em;
  }

  ul {
    float: right;
    display: flex;
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      margin: 0px 5px;

      a {
        line-height: 60px;
        color: #ffffff;
        padding: 5px 20px;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.5s;
      }

      button {
        margin-top: 10px;
        background-color: #007bff;
      }

      a.active,
      a:hover {
        color: #ffffff;
        background-color: #e95f28;
      }
    }
  }
}

nav.black {
  background: rgb(0, 0, 0, 0.9);

  #logo {
    color: #ffffff;
  }

  ul > li > a {
    color: #ffffff;
  }
}

.responsive__button {
  float: right;
  margin: 10px 5px;
  background-color: #007bff;
}

.mat-menu-item,
.mat-icon {
  color: #ffffff;
}

::ng-deep.mat-menu-panel {
  max-width: none !important;
  width: 400px;
  margin-top: 19px;
  background: #007bff;
}

section#jumbotron {
  background: url("../../assets/jumbo__bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 70vh;
}

#jumbotron__popup {
  position: relative;
  bottom: -100px;
  // z-index: 1;
  background-color: #ffffff;
  margin: auto;
  width: 70%;
  height: 70vh;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  #popup__left {
    padding: 40px 10px 20px 20px;

    h1 {
      font-size: 3.5rem;
      font-weight: bold;
      padding-top: 20px;
      margin-bottom: 30px;
    }

    h2 {
      padding: 10px 0 5px 0;
      margin-bottom: 0;
    }

    mat-slider {
      width: 100%;
    }

    #minified__filter {
      padding: 10px;
      border: 2px solid rgb(0, 0, 0, 0.2);
      border-radius: 5px;
      width: 100%;
      box-sizing: border-box;

      button {
        margin-bottom: 5px;
      }
    }
    #toInsuract {
      padding: 10px;
      width: 100%;
    }
  }

  #popup__right {
    border: 8px solid #007bff;
    border-radius: 5px;
    text-align: center;

    #pop {
      padding-top: 15px;
      padding-bottom: 15px;
      width: 100%;
      background-color: #007bff;
      color: #ffffff;
      font-size: 1.4rem;
    }

    #result {
      padding: 10px;
      border-radius: 5px;

      #img__title {
        border-radius: 5px;

        img {
          width: 50%;
          height: auto;
          display: block;
          margin: 15px auto 10px auto;
        }
      }

      #title {
        padding-top: 10px;
      }

      p {
        padding: 25px;
      }

      button {
        width: 100%;
        padding: 10px;
      }

      button.banner {
        padding: 0;
        cursor: default;
      }

      table {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        border: 2px solid rgb(0, 0, 0, 0.1);
        border-radius: 5px;

        th {
          padding: 5px;
          text-align: left;
        }
      }
    }
  }
}

.body {
  // position: relative;
  // top: -450px;
  padding-top: 150px;
  background-color: #000000;

  .about {
    padding: 25px 300px 30px 300px;
    background-color: #262626;
    color: #ffffff;
    // box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
  }

  .about:nth-child(3) {
    background-color: #2e2e2e;
  }

  #divide {
    height: 200px;
    background: url("../../assets/carousel.jpg");
    background-position: center;
  }
}

@media only screen and (max-width: 1280px) {
  nav {
    padding: 10px 100px;
  }

  #jumbotron__popup {
    width: 90%;
    padding: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr;
    display: block;

    #minified__filter {
      box-sizing: border-box;
    }
  }

  .body {
    position: relative;
    top: 419px;
  }

  .footer {
    position: relative;
    top: 350px;
  }
}

@media only screen and (max-width: 769px) {
  nav {
    padding: 10px 20px;
  }

  #jumbotron__popup {
    width: 100%;
    border-radius: 0;
    box-sizing: border-box;
    flex-wrap: wrap;

    #popup__left {
      box-sizing: border-box;
      padding: 10px;

      button {
        margin-bottom: 5px;
      }
    }
  }

  .about {
    padding: 20px !important;
  }

  .body {
    top: 900px;
  }

  .footer {
    top: 650px;
  }
}
