div {
  background-color: #007bff;
  padding: 20px 100px 20px 100px;
  color: #ffffff;
  text-align: center;

  h1 {
    font-size: 2rem;
  }

  .card {
    width: 350px;
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 5px;

    img {
      width: 50%;
      height: auto;
      display: block;
      margin: 0 auto 10px auto;
    }

    h2 {
      font-size: 1.5rem;
      padding-top: 10px;
    }

    p {
      padding: 10px;
    }

    .strike {
      text-decoration: line-through;
      padding: 0;
    }

    .full-width {
      width: 100%;
    }

    button {
      margin-top: 10px;
    }
  }
}

@media only screen and (max-width: 769px) {
  div {
    padding: 20px 0 20px 0;

    h1 {
      font-size: 1.3rem !important;
    }

    .card {
      padding: 5px;
      border-radius: 0px;
    }
  }
}
