div {
  background-color: #007bff;
  padding: 20px 100px 20px 100px;
  color: #ffffff;
  text-align: center;

  h1 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 769px) {
  div {
    padding: 20px 0 20px 0;

    h1 {
      font-size: 1.3rem !important;
    }
  }
}
