<app-header></app-header>
<section>
  <div class="container">
    <div id="popup" fxLayout="column">
      <div>Create your account</div>
      <mat-divider> </mat-divider>
      <!-- horizonal step form -->
      <mat-horizontal-stepper linear #stepper fxHide.lt-sm>
        <mat-step [stepControl]="accountForm">
          <form [formGroup]="accountForm">
            <ng-template matStepLabel>Account information</ng-template>
            <mat-form-field appearance="outline">
              <mat-label>Username</mat-label>
              <input
                matInput
                placeholder="please enter your username"
                formControlName="username"
                type="text"
                required
              />
              <mat-icon
                matSuffix
                class="error"
                *ngIf="
                  accountForm.get('username')!.errors?.required &&
                    accountForm.get('username')!.touched;
                  else checked
                "
                >error</mat-icon
              >
              <ng-template #checked>
                <mat-icon
                  matSuffix
                  class="check"
                  *ngIf="accountForm.get('username')!.valid"
                  >check_circle</mat-icon
                >
              </ng-template>
              <mat-error *ngIf="accountForm.get('username')!.errors?.required"
                >username should not be empty.</mat-error
              >
            </mat-form-field>
            <!-- USERNAME INPUT END -->
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input
                matInput
                placeholder="ex. hin@example.com"
                formControlName="email"
                type="email"
                required
              />
              <mat-icon
                matSuffix
                class="error"
                *ngIf="
                  (accountForm.get('email')!.errors?.required &&
                    accountForm.get('username')!.touched) ||
                    (accountForm.get('email')!.errors?.email &&
                      accountForm.get('username')!.touched);
                  else email__checked
                "
                >error</mat-icon
              >
              <ng-template #email__checked>
                <mat-icon
                  matSuffix
                  class="check"
                  *ngIf="accountForm.get('email')!.valid"
                  >check_circle</mat-icon
                >
              </ng-template>
              <mat-error *ngIf="accountForm.get('email')!.errors?.required"
                >email should not be empty.</mat-error
              >
              <mat-error *ngIf="accountForm.get('email')!.errors?.email"
                >invalid email address.</mat-error
              >
            </mat-form-field>
            <!-- EMAIL INPUT END -->
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input
                matInput
                placeholder="please enter your password"
                formControlName="password"
                type="password"
                required
              />
              <mat-icon
                matSuffix
                class="error"
                *ngIf="
                  accountForm.get('password')!.errors?.minlength &&
                    accountForm.get('password')!.touched;
                  else password__checked
                "
                >error</mat-icon
              >
              <ng-template #password__checked>
                <mat-icon
                  matSuffix
                  class="check"
                  *ngIf="accountForm.get('password')!.valid"
                  >check_circle</mat-icon
                >
              </ng-template>
              <mat-error *ngIf="accountForm.get('password')!.errors?.required"
                >password should not be empty.</mat-error
              >
              <mat-error *ngIf="accountForm.get('password')!.errors?.minlength"
                >password should have at least 6 characters.</mat-error
              >
            </mat-form-field>
            <!-- PASSWORD INPUT END -->
            <mat-form-field appearance="outline">
              <mat-label>Comfirm Password</mat-label>
              <input
                matInput
                placeholder="please enter your confirm password"
                formControlName="confirmpassword"
                type="password"
                required
              />
              <mat-icon
                matSuffix
                class="error"
                *ngIf="
                  accountForm.get('confirmpassword')!.errors?.required &&
                    accountForm.get('password')!.touched;
                  else confirmpassword__checked
                "
                >error</mat-icon
              >
              <ng-template #confirmpassword__checked>
                <mat-icon
                  matSuffix
                  class="check"
                  *ngIf="accountForm.get('confirmpassword')!.valid"
                  >check_circle</mat-icon
                >
              </ng-template>
              <mat-error
                *ngIf="accountForm.get('confirmpassword')!.errors?.required"
                >confirm password should not be empty.</mat-error
              >
              <mat-error *ngIf="accountForm.hasError('invalid')"
                >password do not matched</mat-error
              >
            </mat-form-field>
            <!-- CONFIRM PASSWORD INPUT END -->
            <div>
              <button mat-raised-button color="primary" matStepperNext>
                Next
              </button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="personalForm">
          <form [formGroup]="personalForm">
            <ng-template matStepLabel>Personal information</ng-template>
            <mat-form-field>
              <mat-label>Address</mat-label>
              <input
                matInput
                placeholder="Ex. 1 Main St, New York, NY"
                formControlName="firstname"
                required
              />
            </mat-form-field>
            <div>
              <p>Go to a different step to see the error state</p>
              <button mat-raised-button matStepperPrevious>Back</button>
              <button mat-raised-button color="primary" matStepperNext>
                Next
              </button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done!</ng-template>
          <p>You are now done.</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
      <!-- end of horizonal step form -->

      <!-- vertical step form start -->

      <!-- end of vertical stepper -->
    </div>
  </div>
</section>
