@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");

section {
  background-color: rgb(236, 236, 236);
  height: 100vh;

  .container {
    margin-top: 60px;
    padding: 60px 100px;

    #popup {
      background-color: #ffffff;
      //   height: 80vh;
      border-radius: 5px;
      box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);

      #title {
        margin: 0 auto;
        padding: 30px;
        font-family: "Roboto", sans-serif;
        font-size: 2rem;
      }

      form {
        display: flex;
        flex-direction: column;
        width: 40%;
        margin: auto;
        padding: 20px 0;

        p {
          color: #007bff;
        }

        button {
          width: 100%;
          margin-top: 10px;
        }

        .error {
          color: rgb(253, 77, 54);
          animation-name: fadeInOpacity;
          animation-iteration-count: 1;
          animation-timing-function: ease-in;
          animation-duration: 0.5s;
        }

        .check {
          color: rgb(28, 204, 28);
          animation-name: fadeInOpacity;
          animation-iteration-count: 1;
          animation-timing-function: ease-in;
          animation-duration: 0.5s;
        }

        @keyframes fadeInOpacity {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }

        .full-width {
          width: 100%;

          td {
            padding-right: 5px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  section {
    // background-color: #ffffff;
    height: 100vh;
    .container {
      position: relative;
      top: 20px;
      padding: 0;

      #popup {
        height: 100vh;

        form {
          width: 100%;
        }
      }

      #popup__left {
        padding: 10px;
      }
    }
  }
}
